*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# Unit tests config
phpunit.xml
.travis.yml
/bin
tests/mocks/env/

# Sass cache
.sass-cache/

# Development files
/node_modules
/assets/vendor/

.idea/
